<table class="opinion-table">
  <tr>
    <td>Date</td>
    <td><%= opinion.created_at %></td>
  </tr>
  <tr>
    <td>User</td>
    <td><%= opinion_owner(opinion.customer_id) %></td>
  </tr>
  <tr>
    <td>Score: </td>
    <td><%= opinion.score %></td>
  </tr>
  <tr>
    <td>Opinion: </td>
    <td><%= opinion.text %></td>
  </tr>
</table>
<%= render 'ratings/form', opinion: opinion.id %>
