<table class="book-all">
  <tr>
    <td>Login: </td>
    <td><%= @customer.login %></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= @customer.name %></td>
  </tr>
  <tr>
    <td>Phone no.:</td>
    <td><%= @customer.phone %></td>
  </tr>
  <tr>
    <td>Address: </td>
    <td><%= @customer.address %></td>
  </tr>
  <tr>
    <td>Credit card no.: </td>
    <td><%= @customer.CCN %></td>
  </tr>
</table>
