<% provide(:title, "Profile") %>
<div class="page-header">
  <h1>Your Account Information</h1>
</div>
<div class="container">
  <%= render 'customer' %>
</div>


<div class="page-header">
  <h1>Order History</h1>
</div>
<div class="container">
  <div class="row">
    <h3>Order ID: <%= @orders %></h2>
    <ul class="list-book">
      <% @orders.each do |book| %>
      <div class="row each-book">
        <li>Title: <%= book[:id] %></li>
        <li>Copies: <%= book[:copies] %></li>
        <li><%= link_to "More Information", book_path(book[:id]) %></li>
      </div>
      <% end %>
    </ul>
  </div>
</div>
<div class="page-header">
  <h1>Opinion History</h1>
</div>
<div class="container">
  <div class="row">
    <%= render @opinions, require_user: false%>
  </div>

</div>

<div class="page-header">
  <h1>Rating History</h1>
</div>
