<% provide(:title, "Profile") %>
<div class="page-header">
  <h1>Your Account Information</h1>
</div>
<div class="container">
  <%= render 'customer' %>
</div>


<div class="page-header">
  <h1>Order History</h1>
</div>
<div class="row">
    <ul class="list-book">
      <% @orders.each do |order| %>
      <h3>Order ID: <%= order.id %></h2>
      <div class="each-book">
        <% list = book_list(order.id) %>
        <% list.each do |book| %>
        <ul class="separator">
          <div class="row">
            <li>
              <img class="thumbnails" src="<%= book[:thumbnail] %>" alt="thumbnail" align="left" />
            </li>
            <li>Title: <%= book[:title] %></li>
            <li>Copies: <%= book[:copies] %></li>
            <li><%= link_to "More Information", book_path(book[:id]) %></li>
          </div>
        </ul>
        <%end%>
      </div>
      <% end %>
    </ul>
</div>
<div class="page-header">
  <h1>Opinion History</h1>
</div>
<div class="container">
  <div class="row">
    <%= render @opinions, require_user: false%>
  </div>
</div>

<div class="page-header">
  <h1>Rating History</h1>
</div>
<div class="container">
  <div class="row">
    <%#= render @ratings, require_user: false%>
  </div>
</div>
