<% provide(:title, "Order Information") %>
<div class="page-header">
  <h1>Order Information</h1>
</div>
<div class="container">
  <div class="row">
    <h3>Order ID: <%= @order.id %></h2>
    <ul class="list-book">
      <% @books.each do |book| %>
      <div class="row each-book">
        <li>Title: <%= book[:title] %></li>
        <li>Copies: <%= book[:copies] %></li>
        <li><%= link_to "More Information", book_path(book[:id]) %></li>
      </div>
      <% end %>
    </ul>
  </div>
</div>

<div class="page-header">
  <h1>Recommended for you</h1>
</div>
<div class="row">
  <ul class="list-book">
    <% @recommended.each do |r| %>
      <%= render 'book', book: r %>
    <% end %>
  </ul>
</div>
