<div class="row each-book">
  <img class="thumbnails" src="<%= book.thumbnail%>" alt="thumbnail" align="left" />
  <li>Title: <%= book.title %></li>
  <li>Authors: <%= book.authors %></li>
  <li>Publisher: <%= book.publisher %></li>
  <li>Subject: <%= book.subject %></li>
  <li>Year: <%= book.year %></li>
  <li>Average rating for feedback: <%= book.avg_rating %></li>
  <li><%= link_to "More Information", book_path(book) %></li>
  <li>
    <%= form_tag(add_to_cart_path, :method => 'post', :remote => true) do %>
      <%= hidden_field_tag(:book, book.id) %>
      <%= button_tag("Add to Cart") %>
    <% end %>
  </li>
</div>
