<li>
  <li>Title: <%= book.title %></li>
  <li>Authors: <%= book.authors %></li>
  <li>Publisher: <%= book.publisher %></li>
  <li>Subject: <%= book.subject %></li>
  <li>Avg Rating: <%= book.avg_rating %></li>
  <li><%= link_to 'Show', book_path(book) %></li>
</li>
