<div class="row each-book">
  <img class="thumbnails" src="<%= book.thumbnail%>" alt="thumbnail" align="left" />
  <li>Title: <%= book.title %></li>
  <li>Authors: <%= book.authors %></li>
  <li>Publisher: <%= book.publisher %></li>
  <li>Subject: <%= book.subject %></li>
  <li>Year: <%= book.year %></li>
  <li>Average rating for feedback: <%= book['avg_rating'] %></li>
  <li><%= link_to 'Link to Book', book_path(book) %></li>
  <li><%= link_to 
</div>
