<% provide(:title, "Cart") %>
<div class="page-header">
  <h1>Your Cart</h1>
</div>
<div class="row">
  <ul class="list-book">
    <% if @cart!= nil %>
      <% @cart.each do |book| %>
        <div class="row each-book">
          <div>
            <img class="thumbnails" src="<%= book[0].thumbnail%>" alt="thumbnail" align="left" />
            <li>Title: <%= book[0].title %></li>
            <li>Authors: <%= book[0].authors %></li>
            <li>Publisher: <%= book[0].publisher %></li>
            <li>Subject: <%= book[0].subject %></li>
            <li>Year: <%= book[0].year %></li>
            <li>Average rating for feedback: <%= book[0].avg_rating %></li>
            <li>Price: $<%= book[0].price %>.00</li>
            <li>Quantity in stock: <%= book[0].copies %></li>
            <li class="book-qty"> Quantity to purchase: <%= book[1] %></li>
            <li>
              <div class="button-qty">
                <%= form_tag(subtract_from_qty_path, :method => 'post', :remote => true) do %>
                  <%= hidden_field_tag(:book, book[0].id) %>
                  <%= button_tag("", class:"btn btn-danger btn-number glyphicon glyphicon-minus") %>
                <% end %>
              </div>
              <div class="button-qty">
                <%= form_tag(add_to_qty_path, :method => 'post', :remote => true) do %>
                  <%= hidden_field_tag(:book, book[0].id) %>
                  <%= button_tag("", class:"btn btn-success btn-number glyphicon glyphicon-plus") %>
                <% end %>
              </div>
            </li>
            <li class="delete-link">
              <%= link_to "Delete from cart", {:controller => "books", :action => "delete_from_cart", :book => book[0].id}, {:method => 'post', :data => { confirm: "Are you sure?"}} %>
            </li>
          </div>
        </div>
      <% end %>
  </div>
      <% cart = Array.new() %>
      <% @cart.each do |book| %>
        <% cart.push([book[0].id, book[1]]) %>
      <% end %>
      <%= form_tag(orders_path, :method => 'post') do %>
        <%= fields_for (:cart) do |c| %>
          <% @cart.each do |book| %>
            <%= c.hidden_field(book[0].id, value: book[1]) %>
          <% end %>
        <% end %>
        <%= button_tag("Submit your Order", class:"btn btn-primary") %>
      <% end %>
    <% else %>
    <p style="text-align: center;">
      Your cart is empty.
    </p>
    <% end %>
  </ul>

</div>
