<% provide(:title, @book.title) %>
<% provide(:button_text, "Add Opinion") %>
<div class="page-header">
  <h1>Book Information</h1>
</div>
<div class="row">
  <%= render 'book_all' %>
</div>

<div class="row">
  <% if logged_in? %>
    <%= form_tag(add_to_cart_path, :method => 'post', :remote => true) do %>
      <%= hidden_field_tag(:book, @book.id) %>
      <%= button_tag("Add to Cart") %>
    <% end %>
  <% end %>
  <%= link_to "Back", back_path, :method => 'post' %>
</div>

<div class="page-header">
  <h1>Customer Opinions</h1>
</div>
<% if @opinions.any? %>
  <div class="row">
    <ul class="list">
      <%= render @opinions %>
    </ul>
<% else %>
    <p style="text-align: center;">
      Sorry! There are no opinions for the book. :(
    </p>
<% end %>
</div>

<div class="row">
  <h3>Add your own opinion</h3>
  <div class="col-md-3">
    <%= render 'opinions/form' %>
  </div>
</div>
