<% provide(:title, @book.title) %>
<% provide(:button_text, "Add Opinion") %>
<div class="page-header">
  <h1>Book Information</h1>
</div>
<div class="row">
  <%= render 'book_all' %>
</div>

<div class="row">
  <% if logged_in? %>
    <%= form_tag(add_to_cart_path, :method => 'post', :remote => true) do %>
      <%= hidden_field_tag(:book, @book.id) %>
      <%= button_tag("Add to Cart") %>
    <% end %>
  <% end %>
  <%= link_to "Back", back_path, :method => 'post' %>
</div>

<div class="page-header">
  <h1>Customer Opinions</h1>
  <%= form_for(@book, method: :get) do |f| %>
    <%= hidden_field_tag :book, value: :id %>
    <%= f.label :limit, "Number of feedback to show (ranked according to average rating of feedback)", class: "rank-label" %>
    <%= select_tag :limit, options_for_select([1,2,3,4,5,6,7,8,9,10]), class:"rank-select" %>
    <%= f.submit "Submit", class: "btn btn-primary rank-button" %>
  <% end %>
</div>
<% if @opinions.any? %>
  <div class="row">
    <ul class="list">
      <%= render @opinions, require_user: true%>
    </ul>
<% else %>
    <p style="text-align: center;">
      Sorry! There are no opinions for the book. :(
    </p>
<% end %>
</div>

<div class="row">
  <h3>Add your own opinion</h3>
  <div class="col-md-3">
    <%= render 'opinions/form' %>
  </div>
</div>
