<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "BookStore", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% unless logged_in? %>
          <li><%= link_to "Log In", login_path %></li>
        <% else %>
          <li><%= link_to "Book Search", "#" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_customer %></li>
              <li><%= link_to "Edit", edit_user_path(current_customer) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
